## 1 Data Wrangling<a id='2_Data_wrangling'></a>

## 1.1 Introduction<a id='2.2_Introduction'></a>

This step focuses on collecting your data, organizing it, and making sure it's well defined. The datasets available ('day.csv' and 'hour.csv') are the total numbers only for the D.C. district.

## 1.2 Imports <a id='1.2_Imports'></a>

In [61]:
#Import libraries and modules necessary
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## 1.3 Load Data <a id='1.3_Load Data'></a>

In [62]:
# the supplied CSV data file is the raw_data directory - day data
day_data = pd.read_csv ('/Users/esrasaydam/Documents/GitHub/Capstone Project #2/day.csv')

In [63]:
# the supplied CSV data file is the raw_data directory - hour data
hour_data = pd.read_csv ('/Users/esrasaydam/Documents/GitHub/Capstone Project #2/hour.csv')

In [64]:
# We'll first focus on the day_data
#We use the info method on day_data to see a summary.
day_data.info

<bound method DataFrame.info of      instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
0          1  2011-01-01       1   0     1        0        6           0
1          2  2011-01-02       1   0     1        0        0           0
2          3  2011-01-03       1   0     1        0        1           1
3          4  2011-01-04       1   0     1        0        2           1
4          5  2011-01-05       1   0     1        0        3           1
..       ...         ...     ...  ..   ...      ...      ...         ...
726      727  2012-12-27       1   1    12        0        4           1
727      728  2012-12-28       1   1    12        0        5           1
728      729  2012-12-29       1   1    12        0        6           0
729      730  2012-12-30       1   1    12        0        0           0
730      731  2012-12-31       1   1    12        0        1           1

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
0             2  0.344167  0.363625  0.805833   0.160446     331         654
1             2  0.363478  0.353739  0.696087   0.248539     131         670
2             1  0.196364  0.189405  0.437273   0.248309     120        1229
3             1  0.200000  0.212122  0.590435   0.160296     108        1454
4             1  0.226957  0.229270  0.436957   0.186900      82        1518
..          ...       ...       ...       ...        ...     ...         ...
726           2  0.254167  0.226642  0.652917   0.350133     247        1867
727           2  0.253333  0.255046  0.590000   0.155471     644        2451
728           2  0.253333  0.242400  0.752917   0.124383     159        1182
729           1  0.255833  0.231700  0.483333   0.350754     364        1432
730           2  0.215833  0.223487  0.577500   0.154846     439        2290

      cnt
0     985
1     801
2    1349
3    1562
4    1600
..    ...
726  2114
727  3095
728  1341
729  1796
730  2729

[731 rows x 16 columns]>

'cnt' is the total count of 'casual' and 'registered' users and the rest is the info/features on weather and time ('season', 'yr', 'workingday', 'holiday', 'mnth', etc.) )

In [65]:
day_data.head(50)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
5,6,2011-01-06,1,0,1,0,4,1,1,0.204348,0.233209,0.518261,0.089565,88,1518,1606
6,7,2011-01-07,1,0,1,0,5,1,2,0.196522,0.208839,0.498696,0.168726,148,1362,1510
7,8,2011-01-08,1,0,1,0,6,0,2,0.165000,0.162254,0.535833,0.266804,68,891,959
8,9,2011-01-09,1,0,1,0,0,0,1,0.138333,0.116175,0.434167,0.361950,54,768,822
9,10,2011-01-10,1,0,1,0,1,1,1,0.150833,0.150888,0.482917,0.223267,41,1280,1321
10,11,2011-01-11,1,0,1,0,2,1,2,0.169091,0.191464,0.686364,0.122132,43,1220,1263
11,12,2011-01-12,1,0,1,0,3,1,1,0.172727,0.160473,0.599545,0.304627,25,1137,1162
12,13,2011-01-13,1,0,1,0,4,1,1,0.165000,0.150883,0.470417,0.301000,38,1368,1406
13,14,2011-01-14,1,0,1,0,5,1,1,0.160870,0.188413,0.537826,0.126548,54,1367,1421
14,15,2011-01-15,1,0,1,0,6,0,2,0.233333,0.248112,0.498750,0.157963,222,1026,1248
15,16,2011-01-16,1,0,1,0,0,0,1,0.231667,0.234217,0.483750,0.188433,251,953,1204
16,17,2011-01-17,1,0,1,1,1,0,2,0.175833,0.176771,0.537500,0.194017,117,883,1000
17,18,2011-01-18,1,0,1,0,2,1,2,0.216667,0.232333,0.861667,0.146775,9,674,683
18,19,2011-01-19,1,0,1,0,3,1,2,0.292174,0.298422,0.741739,0.208317,78,1572,1650
19,20,2011-01-20,1,0,1,0,4,1,2,0.261667,0.255050,0.538333,0.195904,83,1844,1927
20,21,2011-01-21,1,0,1,0,5,1,1,0.177500,0.157833,0.457083,0.353242,75,1468,1543
21,22,2011-01-22,1,0,1,0,6,0,1,0.059130,0.079070,0.400000,0.171970,93,888,981
22,23,2011-01-23,1,0,1,0,0,0,1,0.096522,0.098839,0.436522,0.246600,150,836,986
23,24,2011-01-24,1,0,1,0,1,1,1,0.097391,0.117930,0.491739,0.158330,86,1330,1416
24,25,2011-01-25,1,0,1,0,2,1,2,0.223478,0.234526,0.616957,0.129796,186,1799,1985
25,26,2011-01-26,1,0,1,0,3,1,3,0.217500,0.203600,0.862500,0.293850,34,472,506
26,27,2011-01-27,1,0,1,0,4,1,1,0.195000,0.219700,0.687500,0.113837,15,416,431
27,28,2011-01-28,1,0,1,0,5,1,2,0.203478,0.223317,0.793043,0.123300,38,1129,1167
28,29,2011-01-29,1,0,1,0,6,0,1,0.196522,0.212126,0.651739,0.145365,123,975,1098
29,30,2011-01-30,1,0,1,0,0,0,1,0.216522,0.250322,0.722174,0.073983,140,956,1096
30,31,2011-01-31,1,0,1,0,1,1,2,0.180833,0.186250,0.603750,0.187192,42,1459,1501
31,32,2011-02-01,1,0,2,0,2,1,2,0.192174,0.234530,0.829565,0.053213,47,1313,1360
32,33,2011-02-02,1,0,2,0,3,1,2,0.260000,0.254417,0.775417,0.264308,72,1454,1526
33,34,2011-02-03,1,0,2,0,4,1,1,0.186957,0.177878,0.437826,0.277752,61,1489,1550
34,35,2011-02-04,1,0,2,0,5,1,2,0.211304,0.228587,0.585217,0.127839,88,1620,1708
35,36,2011-02-05,1,0,2,0,6,0,2,0.233333,0.243058,0.929167,0.161079,100,905,1005
36,37,2011-02-06,1,0,2,0,0,0,1,0.285833,0.291671,0.568333,0.141800,354,1269,1623
37,38,2011-02-07,1,0,2,0,1,1,1,0.271667,0.303658,0.738333,0.045408,120,1592,1712
38,39,2011-02-08,1,0,2,0,2,1,1,0.220833,0.198246,0.537917,0.361950,64,1466,1530
39,40,2011-02-09,1,0,2,0,3,1,2,0.134783,0.144283,0.494783,0.188839,53,1552,1605
40,41,2011-02-10,1,0,2,0,4,1,1,0.144348,0.149548,0.437391,0.221935,47,1491,1538
41,42,2011-02-11,1,0,2,0,5,1,1,0.189091,0.213509,0.506364,0.108550,149,1597,1746
42,43,2011-02-12,1,0,2,0,6,0,1,0.222500,0.232954,0.544167,0.203367,288,1184,1472
43,44,2011-02-13,1,0,2,0,0,0,1,0.316522,0.324113,0.457391,0.260883,397,1192,1589
44,45,2011-02-14,1,0,2,0,1,1,1,0.415000,0.398350,0.375833,0.417908,208,1705,1913
45,46,2011-02-15,1,0,2,0,2,1,1,0.266087,0.254274,0.314348,0.291374,140,1675,1815
46,47,2011-02-16,1,0,2,0,3,1,1,0.318261,0.316200,0.423478,0.251791,218,1897,2115
47,48,2011-02-17,1,0,2,0,4,1,1,0.435833,0.428658,0.505000,0.230104,259,2216,2475
48,49,2011-02-18,1,0,2,0,5,1,1,0.521667,0.511983,0.516667,0.264925,579,2348,2927
49,50,2011-02-19,1,0,2,0,6,0,1,0.399167,0.391404,0.187917,0.507463,532,1103,1635

There doesn't seem to be a null/Nan value.

## 1.4 Explore the Data

In [66]:
# checking if there is any null data.
day_data.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [67]:
day_data.isnull().mean()

instant       0.0
dteday        0.0
season        0.0
yr            0.0
mnth          0.0
holiday       0.0
weekday       0.0
workingday    0.0
weathersit    0.0
temp          0.0
atemp         0.0
hum           0.0
windspeed     0.0
casual        0.0
registered    0.0
cnt           0.0
dtype: float64

There is no Nan value.

In [68]:
day_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

checking if there is any duplicate date.

In [69]:
day_data['dteday'].value_counts().head(50)

2011-01-01    1
2012-04-25    1
2012-04-27    1
2012-04-28    1
2012-04-29    1
2012-04-30    1
2012-05-01    1
2012-05-02    1
2012-05-03    1
2012-05-04    1
2012-05-05    1
2012-05-06    1
2012-05-07    1
2012-05-08    1
2012-05-09    1
2012-05-10    1
2012-05-11    1
2012-05-12    1
2012-05-13    1
2012-05-14    1
2012-05-15    1
2012-04-26    1
2012-04-24    1
2012-05-17    1
2012-04-23    1
2012-04-04    1
2012-04-05    1
2012-04-06    1
2012-04-07    1
2012-04-08    1
2012-04-09    1
2012-04-10    1
2012-04-11    1
2012-04-12    1
2012-04-13    1
2012-04-14    1
2012-04-15    1
2012-04-16    1
2012-04-17    1
2012-04-18    1
2012-04-19    1
2012-04-20    1
2012-04-21    1
2012-04-22    1
2012-05-16    1
2012-05-18    1
2012-07-02    1
2012-06-10    1
2012-06-12    1
2012-06-13    1
Name: dteday, dtype: int64

In [70]:
day_data['dteday'].value_counts().tail(50)

2011-07-20    1
2011-07-21    1
2011-07-22    1
2011-07-23    1
2011-08-16    1
2011-08-17    1
2011-08-18    1
2011-08-19    1
2011-09-11    1
2011-09-12    1
2011-09-13    1
2011-09-14    1
2011-09-15    1
2011-09-16    1
2011-09-17    1
2011-09-18    1
2011-09-19    1
2011-09-20    1
2011-09-21    1
2011-09-22    1
2011-09-23    1
2011-09-24    1
2011-09-25    1
2011-09-26    1
2011-09-27    1
2011-09-28    1
2011-09-29    1
2011-09-10    1
2011-09-09    1
2011-09-08    1
2011-08-28    1
2011-08-20    1
2011-08-21    1
2011-08-22    1
2011-08-23    1
2011-08-24    1
2011-08-25    1
2011-08-26    1
2011-08-27    1
2011-08-29    1
2011-09-07    1
2011-08-30    1
2011-08-31    1
2011-09-01    1
2011-09-02    1
2011-09-03    1
2011-09-04    1
2011-09-05    1
2011-09-06    1
2012-12-31    1
Name: dteday, dtype: int64

No duplicates are found.

## Explore the Seasons
Seasons are repped with integers:

1:spring, 
2: summer,
3:fall,
4:winter

In [ ]:
# Usage counts in every day of Spring
day_data[day_data.season == 2].cnt

In [ ]:
# Total usage counts in Spring (average of 2 years)
day_data[day_data.season == 2].cnt.sum()/2

In [ ]:
# Usage counts in every day of Summer
day_data[day_data.season == 3].cnt

In [ ]:
# Total usage counts in Summer (average of 2 years)
day_data[day_data.season == 3].cnt.sum()/2

In [ ]:
# Usage counts in every day of Fall
day_data[day_data.season == 4].cnt

In [ ]:
# Total usage counts in Fall (average of 2 years)
day_data[day_data.season == 4].cnt.sum()/2

In [ ]:
# Usage counts in every day of Winter
day_data[day_data.season == 1].cnt

In [ ]:
#Total usage counts in Winter (average of 2 years)
day_data[day_data.season == 1].cnt.sum()/2

It seems like bikers avoid biking based on how much the weather is cold. The temperature do matter. Fall and Spring have close numbers with Spring beating Fall by 40k more rides. In Winter the usage is half of the Spring

In [ ]:
# A closer look to spring days in 2011 and 2012
spring_data = day_data[day_data.season == 2]

In [ ]:
spring_data.head()

In [ ]:
## Days with precipitation in Spring 2011, 2012
spring_data[spring_data.weathersit == 3].cnt

In [ ]:
# Days with precipitation in Fall 2011, 2012
fall_data = day_data[day_data.season == 4]
fall_data[fall_data.weathersit == 3].cnt

In [ ]:
#Days with precipitation in Summer 2011, 2012
summer_data = day_data[day_data.season == 3]
summer_data[summer_data.weathersit == 3].cnt

In [ ]:
#Days with precipitation in Winter 2011, 2012
winter_data = day_data[day_data.season == 1]
winter_data[winter_data.weathersit == 3].cnt

Actually Summer and Winter seasons have equal number of days when it rains.  It really feels like temperature is the deal breaker. On the other hand, in Fall number of days with precipitation triple - compared to Spring so this explains that precipitation might be a secondary factor.

## Next steps:
Checking the number of usages:
in the hottest day
coldest day
in the warmest day of Winter

Checking number of usages:
when there is heavy wind. 
When the sky is cloudy versus clear...

Plotting these findings:
ex: number of usages (y), seasons (x)...

Question to Silvia: Do I bring the Philadelphia weather dataset in this stage?